.toolBarContainer {
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 48px;
  width: 100%;
}

.toolBarContainer button {
  cursor: pointer;
  background-color: var(--bg);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.toolBarContainer button:hover {
  background-color: var(--bg-light);
}
